name: "Build"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Ruff & Pytest
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.14"]
        uv-version: ["0.9.2"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv
      uses: astral-sh/setup-uv@v3
      with:
        version: "${{ matrix.uv-version }}"

    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}

    - name: Install the project
      run: uv sync --frozen --no-cache

    - name: Run Ruff code analysis
      run: uv run ruff check .

    - name: Run tests suite
      run: |
        PYTHONPATH=app/ uv run python -m pytest -v --cov-fail-under=80 --cov-report=html --cov=app/ tests/
        PERCENT=$(cat htmlcov/index.html | grep "pc_cov" | awk -F '>' '{print $2}' | awk -F '%' '{print $1}')
        echo "COVERAGE=$PERCENT" >> $GITHUB_ENV
