name: Docker Image CI

on:
  push:
    branches: [ "main" ]

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Overfast
      run: |
        # Use 'tr' to convert the owner name to lowercase
        OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        IMAGE_ID=ghcr.io/$OWNER_LC/overfast
        
        docker build . --file Dockerfile \
          --tag $IMAGE_ID:${{ github.sha }} \
          --tag $IMAGE_ID:latest
        
        docker push $IMAGE_ID --all-tags

    - name: Build and Push Valkey
      run: |
        OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        IMAGE_ID=ghcr.io/$OWNER_LC/valkey
        
        docker build ./build/valkey --file ./build/valkey/Dockerfile \
          --tag $IMAGE_ID:${{ github.sha }} \
          --tag $IMAGE_ID:latest
        
        docker push $IMAGE_ID --all-tags
